{% assign fitra = all_products['fitra-activity-band'] %}
<div id="page-404" class="">

  <div class="sticky-side-img">
    <img src="{{ fitra.images.first | img_url: 'x1440' }}" alt="{{ product.image.alt | escape }}" />
  </div>
  <div id="content-404" class="main-content grid">
    <div class="valign-center">
      <p>
        {{ 'general.404.title' | t }}
        <br />
        <a href="/">{{ 'general.404.back' | t }}</a>
      </p>
    </div>
  </div>
</div>