<!doctype html>

<head>
  <title>{{ page_title }}</title>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="description" content="{{ page_description | escape }}">
  <link rel="canonical" href="{{ canonical_url }}">
  <meta name="viewport" content="width=device-width,initial-scale=1,shrink-to-fit=no">
  {{ content_for_header }}
  <!-- Header hook for plugins -->
  <link href="https://fonts.googleapis.com/css?family=Rubik" rel="stylesheet">
  {{ 'application.scss.css' | asset_url | stylesheet_tag }}
  <script src="http://code.jquery.com/jquery-3.4.0.slim.min.js"
    integrity="sha256-ZaXnYkHGqIhqTbJ6MB4l9Frs/r7U4jlx7ir8PJYBqbI=" crossorigin="anonymous"></script>
  {{ 'application.js' | asset_url | script_tag }}
</head>

<body class="template-{{ template }}">


  {% if template != 'cart' %}
  <a href="/cart" class="link-to-cart {% if cart.item_count > 0 %}cart-filled{% endif %}">
    <span class="cart-text">
      {% if cart.item_count > 0 %}
      {{ 'cart.button.filled' | t }}
      {% else %}
      {{ 'cart.button.empty' | t }}
      {% endif %}
    </span>
    <span class="cart-item-count">
      {{cart.item_count}}
    </span>
  </a>

  {% else %}
  <a href="/" class="close-button link-to-home">
    {{ 'cart.button.close' | t }}
  </a>
  {% endif %}
  {% if template != 'cart' and template != 'index' %}
  {% include 'error-404' %}
  {% endif %}
  <main role="main" {% if template != 'cart' and template != 'index' %}style="display: none;" {% endif %}>
    {{ content_for_layout }}
  </main>
</body>

</html>