<div id="page-cart">

  <div class="product-images sticky-side-img">
    <img src="{{ 'Hero-Cart.jpg' | asset_url }}" />
  </div>


  <div id="cart" class="
  {% if cart.item_count > 0 %}cart-filled{% endif %}
  main-content grid">
    <div class="valign-center">
      <h1 id="cart-title" class="headline-big">
        {{ "cart.general.title" | t }}
        <span class="cart-item-count">
          {{ cart.item_count }}
        </span>
      </h1>
    </div>

    <div id="cart-info-content" class="grid two-columns">

      {% if cart.item_count > 0 %}
      <div class="valign-bottom">
        <h2>{{ "cart.general.preorders_headline" | t }}</h2>
      </div>


      <div id="cart-form-wrap">
        <form action="/cart" method="post" novalidate>

          <table id="cart-lines">
            <thead>
              <th colspan="2">
                {{ "cart.order_lines.title" | t }}
              </th>
            </thead>
            <tbody>
              {% for item in cart.items %}
              <tr>
                <td>
                  {% if item.quantity > 1 %}
                  {{ item.quantity }}x {% endif %}
                  {{ item.product.title }}
                  &ndash; {{ item.variant.title }}
                </td>
                <td>
                  {{ item.line_price | money_without_trailing_zeros }}
                  <a class="remove-line" href="/cart/change?line={{ forloop.index }}&amp;quantity=0">
                    <span class="remove-text">
                      {{ "cart.order_lines.remove" | t }}
                    </span>
                    <img src="{{'icon-x.svg' | asset_url }}" />
                  </a>
                </td>
              </tr>
              {% endfor %}
            </tbody>
          </table>

          <table id="cart-totals">
            <tbody>
              <tr>
                <td>
                  {{ "cart.order_lines.shipping" | t }}
                </td>
                <td>
                  {{ "cart.order_lines.shipping" | t }}
                </td>
              </tr>
              <tr>
                <td>
                  {{ "cart.order_lines.subtotal" | t }}
                </td>
                <td>
                  {{ cart.total_price | | money_without_trailing_zeros }}
                </td>
              </tr>
            </tbody>
          </table>
          <button id="checkout-button" type="submit" name="checkout">
            {{ "cart.general.checkout" | t }}
          </button>
        </form>
      </div>
      <div id="cart-support">

        <p>
          {{ "cart.general.support_title" | t }}
          {% comment %} <a href="mailto:support@getfitra.com"></a>
          {%endcomment%}
          <br />
          {{ "cart.general.support_email" | t }}
        </p>
      </div>


      {% else%}
      <div id="cart-empty-lines">
        {{ "cart.general.empty" | t }}
        {% for i in (i..3) %}
        <div class="empty-line"></div>
        {%endfor%}
        <a class="valign-bottom" href="/">
          {{ "cart.general.back" | t }}
        </a>
      </div>
    </div>

  </div>

  {% endif %}


</div>