{% assign fitra = all_products['fitra-activity-band'] %}
<div id="page-index" class="">
  
  <div class="product-images sticky-side-img">
    {% for image in fitra.images %}
      <div 
        class="single-product-image" 
        {% if image.attached_to_variant? %}data-variant="{{image.variants.first.id}}"{% endif %}
        style="{% if forloop.index > 1 %}display: none;{% endif %}" 
        >
        <img src="{{ image.src | img_url: 'x1440' }}" alt="{{ product.image.alt | escape }}" />
      </div>
    {% endfor %}
  </div>
  
  <div id="product-info" class="main-content grid">
    <div class="grid-item valign-center product-title">
      <h1 class="headline-big">
        {{ fitra.title | remove: " Activity Band" }}
      </h1>
    </div>
    <div id="product-info-content" class="grid-item grid two-columns">
      <div class="headline valign-bottom">
        <h2>{{ "product.copy.headline" | t }}</h2>
      </div>
      <div class="description">
        <h3>{{ "product.copy.description_headline" | t }}</h3>
        <div class="description-content">
          {{ fitra.description }}
        </div>
      </div>

      <div class="details">
        <ul class="list-with-stroke">
          <li>{{ "product.details_list.item1" | t }}</li>
          <li>{{ "product.details_list.item2" | t }}</li>
        </ul>
      </div>
      <div class="form-wrapper">
        <form action="/cart/add" method="post" enctype="multipart/form-data" id="add-to-cart-form">
          <label for="productSelect">{{ fitra.options.first }}</label>
          <div class="styled-select">
            <select name="id" id="variant-id">
              {% for variant in fitra.variants %}
              <option value="{{ variant.id }}">
                {{ variant.title }}
              </option>
              {% endfor %}
            </select>
            <div class="select-arrow">
              <img src="{{ 'icon-arrow-down.svg' | asset_url }}" />
            </div>
          </div>

          <button type="submit" name="add" id="add-to-cart-button">
            {{ "product.form.submit" | t }}
            <span class="product-price">
              {{ fitra.price | money_without_trailing_zeros }}
            </span>
          </button>
        </form>
      </div>
    </div>
  </div>
</div>